.contacts h2 {
    margin-bottom: 73px;
}

.contacts__wrapper {
    display: flex;
    gap: 118px;
}

.contacts__tel,
.contacts__mail {
    position: relative;
}

.contacts__t-btn,
.contacts__m-btn {
    text-decoration: none;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: var(--text, #121212);
}

.contacts__tel::before {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    left: -5px;
    background-image: url(../resources/contacts/phone.png);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.contacts__mail::before {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    background-image: url(../resources/contacts/mail.png);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.contacts__t-btn:hover,
.contacts__m-btn:hover {
    opacity: 0.5;
    border-bottom: 1px solid;
}

@media (max-width: 1199px) {
    .contacts__wrapper {
        gap: 128px;
    }

    .contacts__t-btn,
    .contacts__m-btn {
        font-size: 45px;
        letter-spacing: -1.35px;
    }
}

@media (max-width: 767px) {
    .contacts h2 {
        margin-bottom: 59px;
    }

    .contacts__wrapper {
        flex-direction: column;
        gap: 58px;
    }

    .contacts__t-btn,
    .contacts__m-btn {
        font-size: 35px;
        line-height: 45.621px;
        letter-spacing: -1.05px;
    }

    .contacts__tel::before {
        background-image: url(../resources/contacts/phone-mob.png);
        width: 18px;
        height: 18px;
        top: -40px;
    }

    .contacts__mail::before {
        background-image: url(../resources/contacts/mail-mob.png);
        width: 18px;
        height: 18px;
        top: -40px;
    }
}