.interiors__title {
    margin-bottom: 30px;
    width: 980px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.interiors__image {
    position: relative;
    background-image: url('../resources/interior.png');
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
    height: 500px;
}

.interiors__image-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

@media (max-width: 1199px) {
    .interiors__image {
        height: 400px;
    }

    .interiors__title {
         margin-top: 128px;
         max-width: 802px;
         width: 100%;
         font-size: 50px;  
         line-height: 60px;
         letter-spacing: -1.5px;
    }

    .interiors__image-text {
        left: 42px;
        bottom: 30px;
        max-width: 430px;
        width: 100%;
        font-size: 20px;
        line-height: normal;
        letter-spacing: -0.6px;
    }
}

@media (max-width: 767px) {
    .interiors__image {
        height: 304px;
    }

    .interiors__title {
        margin-top: 108px;
        margin-bottom: 25px;
        max-width: 336px;
        font-size: 30px;
        line-height: 31.621px;
        letter-spacing: -0.9px;
    }

    .interiors__image-text {
        left: 15px;
        bottom: 22px;
        max-width: 312px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }
}

/* @media (max-width: 1199px) {
    .interiors__image {
        width: 930px;
        background-position: 50%;
    }

    .interiors__title {
        width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    .interiors__image-text {
        font-size: 20px;
        line-height: 27px;
        left: 42px;
        bottom: 30px;
    }
}

@media (max-width: 767px) {
    .interiors__image {
        width: 350px;
        height: 304px;
    }

    .interiors__title {
        margin-bottom: 25px;
        width: 337px;
        font-size: 30px;
        line-height: 32px;
    }

    .interiors__image-text {
        width: 312px;
        font-size: 16px;
        line-height: 22px;
        left: 15px;
        bottom: 23px;
    }
} */