.room__image {
    position: relative;
    margin: 0 auto;
    margin-bottom: 150px;
    height: 717px;
    background-image: url('../resources/project-two-room.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.room__p {
    position: absolute;
    width: 450px;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #fff;
}